body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    font-size: 4em;
    ;
}

header h2 {
    margin-top: -2em;
}

header img {
    float: right;
    padding-right: 2em;
    padding-top: 1.5em;
}

header ul {
    display: none;
    float: right;
    position: relative;
    left: 3em;
    top: 4.5em;
    list-style-type: none;
    background-color: rgb(0, 118, 180);
    opacity: 0.7;
}

header ul a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
    padding-right: 1em;
}

header ul a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: #58EBFF;
}

main {
    display: flex;
    padding-right: 1em;
}

main>div {
    flex: 1;
    overflow: hidden;
    text-align: center;
}

main img {
    height: 35em;
    width: 100%;
    object-fit: cover;
    padding-left: 1em;
}

main>div>div {
    text-align: left;
    position: relative;
    bottom: 5em;
    background-color: #FFFFFF;
    opacity: 0.6;
    padding-left: 1em;
}

main h1 {
    font-size: 1.5em;
}

.masImg {
    margin-left: 0.5em;
    margin-right: -0.67em;
}

.menosImg, .masImg {
    font-size: 1.5em;
    height: 23.5em;
}

footer {
    text-align: center;
    margin-top: -6em;
}

.logos {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 1em;
}

.logos li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}